html{
    background-color: #06061a;
    color: white;
    font-family: 'Encode Sans';
}

body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/png/pexels-photo-18711720.jpeg);
    background-size: 1600px;
    background-position-y: center;
}

nav{
    display: flex;
    padding: 0.875rem 1.75rem;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 97%;
}
.logo{
    font-family: 'nevis', sans-serif;
    letter-spacing: 0.098rem;
    font-size: 2.3rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav ul{
    list-style-type: none;
    display: flex;
    width: 598.918px;   
    height: 19px;
    padding: 0px 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}
.hero{
    display: flex;
    justify-content: flex-start;
    column-gap: 600px;
    height: 90%;
}
.offer h1{
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.slogan {
    margin-left: 40px;
    max-width: 470px;
    height: 400px;
    padding: 125px 0;
}

.button1{
    height: 50px;
    width: 160px;
    border-radius: 50px;
    font-family: 'Encode Sans';
    font-weight: 900;
    font-size: 15px;
    background-color: #D9d9d9;
    color: #040529;
    border: #d9d9d9;
    margin-top: 15px;
}
.button1:hover{
    background-color: #1b1e73;
    color: #D9d9d9;
}

.feature1{
    background-color: #06061a;
    height: 650px;
    text-align: center;
    padding: 50px;
}   

.feature1 p{
    font-size: 20px;
    padding: 25px 120px;
}

.feature2{
    background-color: #000;;
    height: 325px;
    text-align: center;
    padding: 50px;
}   

.feature2 p{
    font-size: 20px;
    padding: 10px 120px;
}

.reviews{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: #0D2954;
    text-align: center;
    padding: 50px;
}

.testimonials{
    height: 325px;
    overflow: auto;
    display: flex;
    gap: 10px;
}

.testimony{
    background-color: antiquewhite;
    min-width: 300px;
    border-radius: 50px;
}

footer{
    margin: 0;
    height: 315px;
    background-color: #000;
    display: flex;
}

.logo-and-address{
    padding: 30px;
    max-width: 225px;
}

.logo{
    padding: 50px 15px;
}

a, a:visited{
    text-decoration-line: none;
    color: white;
}

a:hover{
    color: rgba(255, 255, 255, 0.792);
}

.interactive-logo:hover, .interactive-logo:visited{
    color: white;
}

.footer-nav ul{
    list-style-type: none;
    padding: 50px;
}

.footer-nav li{
    padding: 5px;
}
